.title {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


h2 {
    color: #126BA5;
    font-weight: 400;
    font-size: 22px;
}