@import '@angular/material/theming';
@import '@angular/material';
@include mat-core();

$main-primary: mat-palette($mat-light-blue-palette, 900);
$main-accent: mat-palette($mat-light-blue-palette, 400);
$main-warn: mat-palette($mat-red-palette);
$green: mat-palette($mat-green-palette, 400);

$main-theme: mat-light-theme((color: (primary: $main-primary,
        accent: $main-accent,
        warn: $main-warn,
      ),
      density: -2,
    ));



@include angular-material-theme($main-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lexend Deca', "Helvetica Neue", sans-serif;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  padding: 0 !important;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.dense-0 {
  @include all-component-densities(0);
}


.mat-calendar-body-today {
  border-width: 0 !important;
  background: #29B6F6 !important
}

.mat-calendar-body-cell-content {
  font-size: 16px !important;
}

.all_habits .mat-calendar-body-cell-content {
  background: rgb(58, 202, 58) !important;
}

.half_habits .mat-calendar-body-cell-content {
  background: rgb(252, 252, 42) !important;
}

.none_habits .mat-calendar-body-cell-content {
  background: rgb(253, 54, 54) !important;
  border-radius: 100%;
}